/* Kitchen.css */
.kitchen-container {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .kitchen-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    color: white;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background-color: #d9534f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .request-form input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .request-form button {
    padding: 10px;
    width: 100%;
    background-color: #e2ece4;
    color: rgb(31, 29, 29);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .logout-btn{
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    margin-left: 1000px;
  
  }
  